<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todolist-list</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href='/index.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js'></script>
  </head>
  <body>
    
  <header>

    <div class="header-title">Todolist</div>

    <nav>
      <ul class="header-nav">
        <li class="header-menu"><a href="#">Home</a></li>
        <li class="header-menu"><a href="#">Write</a></li>
        <li class="header-menu"><a href="#">etc</a></li>
      </ul>
    </nav>

  </header>

  <% for(let i = 0; i < posts.length; i++) { %>
    <div class="list">
      <div class="list-text">
        <h4><%= posts[i]._id %></h4><div>
          
          <p><a href="/detail/<%= posts[i]._id %>">할 일 : <%= posts[i].todo %></a></p>
          <span>날짜 : <%= posts[i].date %></span>
        </div>
      </div>
      <button class="delete" data-id="<%= posts[i]._id %>">삭제</button>
    </div>
  <% } %>

    <!-- AJAX -->
    <script>

$('.delete').click((e) => {
  let postNum = e.target.dataset.id; // 내가 누른 요소의 데이터에서 id값을 가져오기
  $.ajax({
    method: 'DELETE',
    url: '/delete', //요청할 경로
    data: {_id: postNum} //요청과 함께 보낼 데이터
  }).done((result) => { //.done 요청 성공했을 때
    // page refresh
    location.reload();
  }).fail((xhr, textStatus, errorThrown) => {
    console.log(xhr, textStatus, errorThrown);
  })
})

    </script>

  </body>
  </html>